.swiper {
    width: 100%;
    height: 95%;
    overflow: visible;
}

.swiper-wrapper {
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 150%;
    height: 100%;
    border-radius: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.swiper-slide-active {
    filter: blur(0px) !important;
}